
body
{
font-family: 'Vibur', cursive;

   background-image: url("background.gif");
}

canvas
{
  border: 5px solid grey;
  border-radius: 5px;
  float: left;
}

#gamearea
{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  position: absolute;
}

#controls
{
  padding-top: 20px;
    clear:both;
      font-size: medium;
}

.key
{
  
  border: 3px solid black;
  border-radius: 3px;

  width: 2em;
  height: 2em;
  display: inline-block;
  
  text-align:center;
  vertical-align: middle;
  display:table-cell;

}

#levelSelectRow
{
  font-size: 3em;
}

#start
{
  font-size: 2em;
}

#canvasWrapper
{
  position: relative;
    
 }

 #gametext
{
   padding: 20px;
    float: left;
}

#gameinfo
{
  position: absolute;
  left: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

#leftarrow
{

}

#rightarrow
{

}

#gameinfo h3
{
  font-size: 5em;
  
  margin-top: 80px;
  margin-bottom: 5px;
}