
body
{
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
   background-image: url("background.gif");
}

canvas
{
  border: 2px solid black;
  float: left;
}

#gamearea
{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#canvasWrapper
{
  position: relative;

 }

 #gametext
{
   padding: 20px;
    float: left;
}

#gameinfo
{
  position: absolute;
  left: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

#leftarrow
{
  font-size: 2em;
}

#rightarrow
{
  font-size: 2em;
}

#gameinfo h3
{
  font-size: 5em;
  text-shadow: 5px 5px 1px #999;
  margin-top: 80px;
  margin-bottom: 5px;
}